<footer id="footer" class="footer" data-bg-img="images/footer-bg.png" data-bg-color="#000000">
    <div class="container pt-70 pb-40">
      <div class="row border-bottom-black">
        <div class="col-sm-6 col-md-4">
          <div class="widget dark">
            <img class="mt-10 mb-20" alt="" src="{logo_white}">
            <p>{endereco_matriz}</p>
            <ul class="list-inline mt-5">
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored mr-5"></i> <a class="text-gray" href="#">{telefone_contato}</a> </li>
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored mr-5"></i> <a class="text-gray" href="#">{email_contato}</a> </li>
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-colored mr-5"></i> <a class="text-gray" href="#">{site_url}</a> </li>
            </ul>
            <ul class="social-icons icon-bordered icon-circled icon-sm mt-15">
              <li><a href="https://www.facebook.com/grupocordeiroBR/" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/in/grupo-cordeiro-b86a5671/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.instagram.com/grupo_cordeiro/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Últimas Notícias</h5>
            <div class="latest-posts">
              {exp:channel:entries channel="noticias" limit="3" sort="desc"}
              <article class="post media-post clearfix pb-0 mb-10">
                <a href="noticias/{url_title}" class="post-thumb"></a>
                <div class="post-right">
                  <h5 class="post-title mt-0 mb-5"><a href="noticias/{url_title}">{title}</a></h5>
                  <p class="post-date mb-0 font-12">{entry_date format="%d/%m/%Y %H:%i"}</p>
                </div>
              </article>
              {/exp:channel:entries}
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-2">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Links Úteis</h5>
            <ul class="list angle-double-right list-border">
              <li><a href="{site_url}">Início</a></li>
              <li><a href="{site_url}sobre-o-grupo-cordeiro">A Empresa</a></li>
              <li><a href="{site_url}fale-conosco">Fale Conosco</a></li>            
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Contacte-nos</h5>
            <form name="footer_quick_contact_form" class="quick-contact-form">
              <div class="form-group">
                <input id="form_email" name="form_email" class="form-control" type="text" ng-required="true" placeholder="Nome">
              </div>
              <div class="form-group">
                <input id="form_email" name="form_email" class="form-control" type="email" ng-required="true" placeholder="Email">
              </div>
              <div class="form-group">
                <input id="form_email" name="form_email" class="form-control" type="text" ng-required="true" placeholder="Telefone">
              </div>
              <div class="form-group">
                <textarea id="form_message" name="form_message" class="form-control" required="" placeholder="Mensagem" rows="3"></textarea>
              </div>
              <div class="form-group">
                <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="" />
                <button type="submit" class="btn btn-default btn-transparent btn-xs btn-flat mt-0" >Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom" data-bg-color="#001111">
      <div class="container pt-15 pb-10">
        <div class="row">
          <div class="col-md-12">
            <p class="font-12 text-gray m-0 text-center">Copyright 2019 <span class="text-theme-colored">{site_name}</span>. Todos os Direitos Reservados</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>