<header id="header" class="header">
    <div class="header-top bg-black-333 sm-text-center border-top-theme-color-3px p-0">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="widget no-border m-0">
              <ul class="list-inline xs-text-center text-white mt-5">
                <li class="m-0 pl-10 pr-10"> <a href="{site_url}" class="text-white"><i class="fa fa-phone text-theme-colored"></i>{telefone_contato}</a> </li>
                <li class="m-0 pl-10 pr-10"> 
                  <a href="{site_url}public/#" class="text-white"><i class="fa fa-envelope-o text-theme-colored"></i>{email_contato}</a> 
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 pr-0">
            <div class="widget no-border m-0">
              <ul class="styled-icons icon-dark icon-flat icon-sm pull-right flip sm-pull-none sm-text-center mt-sm-15">
                <li><a href="https://www.facebook.com/grupocordeiroBR/" target="_blank"><i class="fa fa-facebook text-white"></i></a></li>
                <li><a href="https://www.instagram.com/grupo_cordeiro/" target="_blank"><i class="fa fa-instagram text-white"></i></a></li>
                <li><a href="https://www.linkedin.com/in/grupo-cordeiro-b86a5671/" target="_blank"><i class="fa fa-linkedin text-white"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <a class="btn btn-colored btn-flat btn-theme-colored bs-modal-ajax-load pb-10" data-toggle="modal" data-target="#BSParentModal" href="https://wa.me/5585981548059"> <i class="fa fa-whatsapp"></i> Solicitar Contato</a>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav">
      <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
        <div class="container">
          <nav id="menuzord-left" class="menuzord default">
            <a class="menuzord-brand pull-left flip xs-pull-center mt-20" href="{site_url}">
              <img src="{logo_blue}" alt="">
            </a>
            <ul class="menuzord-menu">
              <li {if segment_1==""} class="active"{/if}><a href="{site_url}">Início</a></li>
              <li {if segment_1=="sobre-o-grupo-cordeiro"} class="active"{/if}><a href="{site_url}sobre-o-grupo-cordeiro">A Empresa</a></li>
              <li {if segment_1=="fale-conosco"} class="active"{/if}><a href="{site_url}fale-conosco">Fale Conosco</a></li>
              <!-- <li class="active"><a href="{site_url}public/#home">Home</a>
                <ul class="dropdown">
                  <li><a href="{site_url}public/#">Multi Page Layouts</a>
                    <ul class="dropdown">
                      <li><a href="{site_url}public/index-mp-layout1.html">Layout1</a></li>
                      <li><a href="{site_url}public/index-mp-layout2.html">Layout2</a></li>
                      <li><a href="{site_url}public/index-mp-layout3.html">Layout3</a></li>
                      <li><a href="{site_url}public/index-mp-layout4.html">Layout4</a></li>
                      <li><a href="{site_url}public/index-mp-layout5.html">Layout5</a></li>
                      <li><a href="{site_url}public/index-mp-layout6.html">Layout6</a></li>
                    </ul>
                  </li>
                  <li><a href="{site_url}public/#">Single Page Layouts</a>
                    <ul class="dropdown">
                      <li><a href="{site_url}public/index-sp-layout1.html">Layout1</a></li>
                      <li><a href="{site_url}public/index-sp-layout2.html">Layout2</a></li>
                      <li><a href="{site_url}public/index-sp-layout3.html">Layout3</a></li>
                      <li><a href="{site_url}public/index-sp-layout4.html">Layout4</a></li>
                      <li><a href="{site_url}public/index-sp-layout5.html">Layout5</a></li>
                      <li><a href="{site_url}public/index-sp-layout6.html">Layout6</a></li>
                    </ul>
                  </li>
                  <li><a href="{site_url}public/#">Boxed Layouts</a>
                    <ul class="dropdown">
                      <li><a href="{site_url}public/index-boxed-mp-layout1.html">Boxed Multi Page Layout1</a></li>
                      <li><a href="{site_url}public/index-boxed-mp-layout2.html">Boxed Multi Page Layout2</a></li>
                      <li><a href="{site_url}public/index-boxed-mp-layout3.html">Boxed Multi Page Layout3</a></li>
                      <li><a href="{site_url}public/index-boxed-mp-layout4.html">Boxed Multi Page Layout4</a></li>
                      <li><a href="{site_url}public/index-boxed-mp-layout5.html">Boxed Multi Page Layout5</a></li>
                      <li><a href="{site_url}public/index-boxed-mp-layout6.html">Boxed Multi Page Layout6</a></li>
                      <li><a href="{site_url}public/index-boxed-sp-layout1.html">Boxed Single Page Layout1</a></li>
                      <li><a href="{site_url}public/index-boxed-sp-layout2.html">Boxed Single Page Layout2</a></li>
                      <li><a href="{site_url}public/index-boxed-sp-layout3.html">Boxed Single Page Layout3</a></li>
                      <li><a href="{site_url}public/index-boxed-sp-layout4.html">Boxed Single Page Layout4</a></li>
                      <li><a href="{site_url}public/index-boxed-sp-layout5.html">Boxed Single Page Layout5</a></li>
                      <li><a href="{site_url}public/index-boxed-sp-layout6.html">Boxed Single Page Layout6</a></li>
                    </ul>
                  </li>
                  <li><a href="{site_url}public/#">RTL Layouts</a>
                    <ul class="dropdown">
                      <li><a href="{site_url}public/index-rtl-mp-layout1.html">RTL Multi Page Layout1</a></li>
                      <li><a href="{site_url}public/index-rtl-mp-layout2.html">RTL Multi Page Layout2</a></li>
                      <li><a href="{site_url}public/index-rtl-mp-layout3.html">RTL Multi Page Layout3</a></li>
                      <li><a href="{site_url}public/index-rtl-mp-layout4.html">RTL Multi Page Layout4</a></li>
                      <li><a href="{site_url}public/index-rtl-mp-layout5.html">RTL Multi Page Layout5</a></li>
                      <li><a href="{site_url}public/index-rtl-mp-layout6.html">RTL Multi Page Layout6</a></li>
                      <li><a href="{site_url}public/index-rtl-sp-layout1.html">RTL Single Page Layout1</a></li>
                      <li><a href="{site_url}public/index-rtl-sp-layout2.html">RTL Single Page Layout2</a></li>
                      <li><a href="{site_url}public/index-rtl-sp-layout3.html">RTL Single Page Layout3</a></li>
                      <li><a href="{site_url}public/index-rtl-sp-layout4.html">RTL Single Page Layout4</a></li>
                      <li><a href="{site_url}public/index-rtl-sp-layout5.html">RTL Single Page Layout5</a></li>
                      <li><a href="{site_url}public/index-rtl-sp-layout6.html">RTL Single Page Layout6</a></li>
                    </ul>
                  </li>
                  <li><a href="{site_url}public/#">Dark Layouts</a>
                    <ul class="dropdown">
                      <li><a href="{site_url}public/index-dark-mp-layout1.html">Dark Multi Page Layout1</a></li>
                      <li><a href="{site_url}public/index-dark-mp-layout2.html">Dark Multi Page Layout2</a></li>
                      <li><a href="{site_url}public/index-dark-mp-layout3.html">Dark Multi Page Layout3</a></li>
                      <li><a href="{site_url}public/index-dark-mp-layout4.html">Dark Multi Page Layout4</a></li>
                      <li><a href="{site_url}public/index-dark-mp-layout5.html">Dark Multi Page Layout5</a></li>
                      <li><a href="{site_url}public/index-dark-mp-layout6.html">Dark Multi Page Layout6</a></li>
                      <li><a href="{site_url}public/index-dark-sp-layout1.html">Dark Single Page Layout1</a></li>
                      <li><a href="{site_url}public/index-dark-sp-layout2.html">Dark Single Page Layout2</a></li>
                      <li><a href="{site_url}public/index-dark-sp-layout3.html">Dark Single Page Layout3</a></li>
                      <li><a href="{site_url}public/index-dark-sp-layout4.html">Dark Single Page Layout4</a></li>
                      <li><a href="{site_url}public/index-dark-sp-layout5.html">Dark Single Page Layout5</a></li>
                      <li><a href="{site_url}public/index-dark-sp-layout6.html">Dark Single Page Layout6</a></li>
                    </ul>
                  </li>
                  <li><a href="{site_url}public/#">Magazine Home Layouts <span class="label label-warning">New</span></a>
                    <ul class="dropdown">
                      <li><a href="{site_url}public/index-magazine-home-layout1.html">Magazine Home layout1</a></li>
                      <li><a href="{site_url}public/index-magazine-home-layout2.html">Magazine Home layout1</a></li>
                    </ul>
                  </li>
                  <li><a href="{site_url}public/index-shop-home.html">Shop Home <span class="label label-warning">New</span></a></li>
                  <li><a href="{site_url}public/#">Home Variations <span class="label label-warning">New</span></a>
                    <ul class="dropdown">
                      <li><a href="{site_url}public/#">Rev Slider</a>
                        <ul class="dropdown">
                          <li><a href="{site_url}public/index-home-variation-revslider-style1.html">Layout1</a></li>
                          <li><a href="{site_url}public/index-home-variation-revslider-style2.html">Layout2</a></li>
                        </ul>
                      </li>
                      <li><a href="{site_url}public/#">Maximage Slider</a>
                        <ul class="dropdown">
                          <li><a href="{site_url}public/index-home-variation-maximageslider-style1.html">Layout1</a></li>
                          <li><a href="{site_url}public/index-home-variation-maximageslider-style2.html">Layout2</a></li>
                          <li><a href="{site_url}public/index-home-variation-maximageslider-style3.html">Layout3</a></li>
                        </ul>
                      </li>
                      <li><a href="{site_url}public/index-home-variation-owl-carousel.html">Owl Slider</a></li>
                      <li><a href="{site_url}public/index-home-variation-typed-text.html">Typed Text Layout</a></li>
                      <li><a href="{site_url}public/index-home-variation-video-background.html">Youtube Background Video</a></li>
                      <li><a href="{site_url}public/index-home-variation-html5-video.html">Html5 Background Video</a></li>
                      <li><a href="{site_url}public/index-home-variation-bg-image-parallax.html">Bg Image Parallax Layout</a></li>
                      <li><a href="{site_url}public/index-home-variation-bg-static.html">Bg Static Layout</a></li>
                      <li><a href="{site_url}public/#">Home Appointment Form</a>
                        <ul class="dropdown">
                          <li><a href="{site_url}public/index-home-variation-appointment-form-style1.html">Layout1</a></li>
                          <li><a href="{site_url}public/index-home-variation-appointment-form-style2.html">Layout2</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li> -->
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>