.menuzord-menu > li > a{
	border-radius: 5px;
	margin-left: 5px;
}
.header-nav{
	border-bottom: 2px solid #053073;
}
.header-nav .header-nav-wrapper.scroll-to-fixed-fixed.scroll-to-fixed-fixed{
	border-bottom: 2px solid #053073;
}
.footer{
	background: #000000;
}

.img-portifolio{
	min-width: 262px !important; 
	max-height: 149px !important;
	margin-top: 15px;
}
.divider .container{
	padding-top: 15px;
  padding-bottom: 15px;
}
ul.list.theme-colored li:before, ul.list.theme-colored.angle-double-right li:before, ul.list.theme-colored.angle-right li:before, ul.list.theme-colored.check-circle li:before, ul.list.theme-colored.check li:before, .list-icon.theme-colored li i, .title-icon [class^="flaticon-"]::after, .title-icon [class^="flaticon-"]::before, .menuzord-menu > li > .megamenu .megamenu-row li:hover > a, .menuzord-menu > li > .megamenu .megamenu-row .post a:hover, .menuzord-menu > li > .megamenu .megamenu-row li:hover > a i, .menuzord-menu > li > .megamenu .megamenu-row .post a:hover i, .pricing-table .table-list li i, .testimonial-carousel.boxed .content::after, .blog-posts .post .entry-meta li i, .widget .twitter-feed li::after, .widget .address li i, .icon-box.box-style1.practice-style3 i, .attorney-carousel .content .contact-area i, .attorney-address li i, .icon-box.services-style1:hover .heading, .horizontal-contact-widget .widget::before, .horizontal-contact-widget .each-widget::before, .small-title i, .drop-caps.text-colored p:first-child:first-letter, .schedule-box:hover .schedule-details .title a, .widget.dark .nav-tabs li.active a, .pagination.theme-colored li a, .pager.theme-colored a, .widget .post-title a:hover, .volunteer .info .name a, .donation-form .form-group label, .title-icon [class^="flaticon-"]::after, .title-icon [class^="flaticon-"]::before, .brochured li a i{
	color: #8aa5ce;
}
.btn-theme-colored:active:hover, .btn-theme-colored.active:hover, .open > .dropdown-toggle.btn-theme-colored:hover, .btn-theme-colored:active:focus, .btn-theme-colored.active:focus, .open > .dropdown-toggle.btn-theme-colored:focus, .btn-theme-colored:active.focus, .btn-theme-colored.active.focus, .open > .dropdown-toggle.btn-theme-colored.focus {
    color: #fff;
    background-color: #3a70c3;
    border-color: #103f88;
}
.btn-theme-colored:hover{
	background-color: #3a70c3;
  border-color: #103f88;	
}