<div class="widget">
  <h5 class="widget-title line-bottom">Ultimas Notícias</h5>
  <div class="latest-posts">
  	{exp:channel:entries channel="noticias" limit="3" sort="desc"}
	    <article class="post media-post clearfix pb-0 mb-10">
	      <a class="post-thumb" href="#"><img src="{banner_noticia}" alt=""></a>
	      <div class="post-right">
	        <h5 class="post-title mt-0"><a href="#">{title}</a></h5>
	      </div>
	    </article>
    {/exp:channel:entries}
  </div>
</div>