<section>
  <div class="container pb-40">
    <div class="section-title vertical-line">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-uppercase text-theme-colored title">Nosso <span class="text-black-333">Portifólio</span></h2>
        </div>
      </div>
    </div>
    <div class="row multi-row-clearfix">
      <div class="col-md-12">
        <div class="owl-carousel-4col owl-nav-top nav-theme-colored" data-nav="true">

          {exp:channel:entries channel="portifolio"}
          <div class="item">
            <div class="project mb-30">
              <div class="thumb">
                {galeria limit="1"}
                  <img class="img-fullwidth img-portifolio" alt="" src="{galeria:file}">
                {/galeria}
                <div class="hover-link">
                  <a href="{site_url}portifolio/{url_title}"><i class="flaticon-plus"></i></a>
                </div>
              </div>
              <div class="project-details p-15 pt-10 pb-10">
                <!-- <h5 class="sub-title font-14 font-weight-500 mb-5">Subtitle place here</h5> -->
                <h4 class="title font-weight-700 text-uppercase mt-0">{title}</h4>
              </div>
            </div>
          </div>
          {/exp:channel:entries}

        </div>
      </div>
    </div>
  </div>
</section>