<!-- Favicon and Touch Icons -->
<link href="{site_url}public/images/favicon.png" rel="shortcut icon" type="image/png">
<link href="{site_url}public/images/apple-touch-icon.png" rel="apple-touch-icon">
<link href="{site_url}public/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
<link href="{site_url}public/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
<link href="{site_url}public/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

<!-- Stylesheet -->
<link href="{site_url}public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="{site_url}public/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
<link href="{site_url}public/css/animate.css" rel="stylesheet" type="text/css">
<link href="{site_url}public/css/css-plugin-collections.css" rel="stylesheet"/>
<!-- CSS | menuzord megamenu skins -->
<link id="menuzord-menu-skins" href="{site_url}public/css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet"/>
<!-- CSS | Main style file -->
<link href="{site_url}public/css/style-main.css" rel="stylesheet" type="text/css">
<!-- CSS | Preloader Styles -->
<link href="{site_url}public/css/preloader.css" rel="stylesheet" type="text/css">
<!-- CSS | Custom Margin Padding Collection -->
<link href="{site_url}public/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
<!-- CSS | Responsive media queries -->
<link href="{site_url}public/css/responsive.css" rel="stylesheet" type="text/css">
<!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
<!-- <link href="{site_url}public/css/style.css" rel="stylesheet" type="text/css"> -->

<!-- CSS | Theme Color CORDEIRO -->
<link href="{site_url}public/css/colors/theme-skin-blue.css" rel="stylesheet" type="text/css">
<link href="{site_url}public/css/custom.css" rel="stylesheet" type="text/css">

<!-- external javascripts -->
<script src="{site_url}public/js/jquery-2.2.4.min.js"></script>
<script src="{site_url}public/js/jquery-ui.min.js"></script>
<script src="{site_url}public/js/bootstrap.min.js"></script>
<!-- JS | jquery plugin collection for this theme -->
<script src="{site_url}public/js/jquery-plugin-collection.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="{site_url}public/https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="{site_url}public/https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<script src="{site_url}public/js/custom.js"></script>