.overlay {
	background-color: #cd955700;
}
h2 {
    font-size: 1.5rem;
}
.mt-10{
	margin-top: 10px !important;
}
@media (min-width: 768px){
.masthead .masthead-content h1 {
	margin-top: 10px;
    font-size: 2.0rem;
}